body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #333;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #666;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.signup-container {
  display: flex;
  align-items: center;
}

.signup-container p {
  margin-right: 10px;
}

.signup-container button {
  background-color: transparent;
  color: #666;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.signup-container button:hover {
  color: #333;
}
