/* projects.css */
body {
    padding: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f5f5f5;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 6px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Header styles */
h1 {
    margin-bottom: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right button,
.header-right span {
    margin-right: 10px;
    padding: 6px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.header-right button:hover,
.header-right span:hover {
    background-color: #45a049;
}

#logoutButton {
    display: block;
}

.header-right #username {
    color: #4caf50; /* Set color for the username */
    font-weight: bold; /* Add font weight for emphasis */
    margin-right: 10px; /* Adjust margin to create space between the username and logout button */
    background: none; /* Remove the background */
    padding: 0; /* Remove any padding */
    border: none; /* Remove any border */
}

#projectForm {
    margin-bottom: 20px;
}

/* Updated styles for project table */
#projectTable {
    border-collapse: collapse;
    width: 100%;
}

#projectTable th,
#projectTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#projectTable th {
    background-color: #f5f5f5;
}

#projectTable tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Styling for selected project */
.selected-project {
    background-color: #e5f3ff;
    font-weight: bold;
}

